@keyframes fade-in {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
@-moz-keyframes fade-in {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
@-webkit-keyframes fade-in {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
.app-color-powder-blue {
    background-color: #04ACB4;
}
.app-color-dark-navy {
    background-color: #247494;
}
.app-color-soft-white {
    background-color: #EEEEEE;
}
.app-color-light-gray {
    background-color: #ACB5C4;
}
.app-color-dark-gray {
    background-color: #5C646C;
}