.app-color-light-green {
    background-color: #8EA604;
}
.app-color-dark-navy {
    background-color: #084C61;
}
.app-color-beige {
    background-color: #E5DFCE;
}
.app-color-dark-gray {
    background-color: #616163;
}
.app-color-yellow{
    background-color: #EC9F05;
}

header {
    height: 64px;
}
header > nav {
    height: 100%;
}

header > nav > ul > li {
    font-size: 18px;
    min-width: 100px;
}

body {
    background-color: #D8D8D8;
}

footer {
    height: 50px;
}

footer > div {
    padding-top: 14px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}

header a { text-decoration: none; }
header a:link { color: #ffffff; }
header a:visited { color: #ffffff; }
header a:hover { text-decoration: none; color: #ffffff; }
header a:active { color: #ffffff; }

#menu nav {
    height: 55px;
}

#menu > nav > ul > li {
    padding-top: 6px;
    display: block;
    min-width: 120px;
    text-align: center;
    font-weight: bold;
}

#menu > nav > ul > li::after {
    padding-top: 3px;
    display: block;
    content: "";
    background-color: #E5DFCE;
    height: 3px;
}

#menu > nav > ul > li:hover::after {
    display: block;
    background-color: #EC9F05;
}

#menu > nav > ul > li:nth-of-type(2)::after {
    display: block;
    background-color: #EC9F05;
}

#menu > nav a { text-decoration: none; }
#menu > nav a:link { color: #616163; }
#menu > nav a:visited { color: #616163; }
#menu > nav a:hover { color: #616163; }
#menu > nav a:active { color: #616163; }


#lessons > #lines {
    min-height: 500px;
    background-color: #616163;
    padding-top: 50px;
    padding-bottom: 50px;
}

#lessons > #lines > .line {
    display: block;
    width: 500px;
    height: 40px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#lessons > #lines > .line input {
    color: #ffffff;
    background-color: #616163;
    font-size: 15px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
}
#lessons > #lines .text-detecting {
    padding-top: 8px;
    padding-left: 10px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    font-size: 20px;
    color: #D8D8D8;
}