@keyframes fade-in {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
@-moz-keyframes fade-in {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
@-webkit-keyframes fade-in {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
body {
    font-family: "Noto Sans Japanese, Noto Sans JP, sans-serif;";
}
.app-back-color-powder-blue {
    background-color: #04ACB4;
}
.app-back-color-dark-navy {
    background-color: #247494;
}
.app-back-color-soft-white {
    background-color: #EBE9E9;
}
.app-back-color-light-gray {
    background-color: #818D92;
}
.app-back-color-dark-gray {
    background-color: #595353;
}
.app-text-color-powder-blue {
    color: #04ACB4;
}
.app-text-color-dark-navy {
    color: #247494;
}
.app-text-color-soft-white {
    color: #EBE9E9;
}
.app-text-color-light-gray {
    color: #818D92;
}
.app-text-color-dark-gray {
    color: #595353;
}