@font-face {
  font-family: 'Noto Sans Japanese';
  src: url('/font/NotoSansJP-Regular.woff2') format('woff2');
  font-weight: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Noto Sans Japanese';
  src: url('/font/NotoSansJP-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: auto;
}
@font-face {
  font-family: 'Noto Sans Japanese';
  src: url('/font/NotoSansJP-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: auto;
}
@font-face {
  font-family: 'Noto Sans Japanese';
  src: url('/font/NotoSansJP-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: auto;
}
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
@keyframes rotation {
  0% {
    transform:rotate(0);
  }
  100% {
    transform:rotate(360deg);
  }
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Noto Sans Japanese', 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  height: 100%;
  min-height: 100vh;
}
#__next {
  display: inherit;
  flex-flow: inherit;
  min-height: inherit;
}
header {
  height: 77px;
}
main {
  margin-top: 77px;
  flex: 1;
}
:root {
  --dark-purple: #716c88;
  --soft-brown: #c1b6a0;
  --dark-blue: #a0abc1;
  --soft-white: #ebe9e9;
  --light-powder-blue: #86bacc;
  --dark-gray: #444444;
  --bg-light-gray: #f0f0f0;
  --text-gray: #8c8e98;
  --border-gray: #c1c1c1;
  --border-dark-gray: #707070;
  --back-movie-black: #141414;
  --error-red: #dc143c;
  --error-light-pink: #ecd2d2;
}
.color-text-gray {
  color: var(--text-gray);
}
a {
  text-decoration: none;
}
button {
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease;
  background-color: inherit;
}
button:focus {
  outline: none;
}
button:focus-visible {
  outline: 2px dotted gray;
}
button.dark {
  background-color: var(--dark-gray);
  color: white;
}
button.dark:hover {
  background-color: var(--text-gray);
  color: white;
}
button.light {
  border-color: var(--border-gray);
  background-color: white;
  color: var(--dark-purple);
}
button.light:hover {
  background-color: var(--text-gray);
  color: white;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.displayFlexNone {
  flex: none;
}
.react-colorful__pointer {
  width: 18px !important;
  height: 18px !important;
}
.fullscreen-dialog-z {
  z-index: 10000;
}
.indicator-z {
  z-index: 1100;
}
.context-menu-z {
  z-index: 1000;
}
.header-z {
  z-index: 900;
}
.modal-panel-z {
  z-index: 800;
}
.overay-ui-z {
  z-index: 700;
}
.subtitle-z {
  z-index: 600;
}
.caption-z {
  z-index: 500;
}
.drawing-z {
  z-index: 400;
}
.avatar-z {
  z-index: 300;
}
.image-z {
  z-index: 200;
}
.bg-image-z {
  z-index: 100;
}
