runtime: nodejs14
service: default
env_variables:
  NEXTAUTH_URL: ""
  GOOGLE_CLIENT_ID: ""
  GOOGLE_CLIENT_SECRET: ""
  TWITTER_CLIENT_ID: ""
  TWITTER_CLIENT_SECRET: ""
  AUTH_SECRET: ""
  JWT_SIGNING_PRIVATE_KEY: ""
handlers:
- url: /.*
  secure: always
  redirect_http_response_code: 301
  script: auto
